* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 227, 227);
  font-family: Helvetica;
}

#titulo {
  color: rgb(121, 33, 18);
  font-family: Helvetica;
  font-size: 40px;
  padding: 20px;
}

header {
  background-color: salmon;
  text-align: center;
  width: 100%;
}

footer {
  background-color: rgb(48, 48, 48);
  clear: both;
  color: white;
  text-align: center;
  width: 100%;
}

footer p {
  padding: 20px;
}

footer a {
  color: salmon;
  text-decoration: none;
}

main p {
  font-family: Helvetica;
  line-height: 1.5em;
}

.perfil {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: center;
}

#minha_foto {
  margin-top: 40px;
  width: 300px;
}

.nome {
  margin-top: 130px;
}

.nome a {
  text-decoration: none;
}

.nome img {
  padding-right: 10px;
  padding-top: 10px;
  width: 40px;
}

.nome p {
  color: rgb(121, 33, 18);
  font-size: 25px;
  font-weight: 600;
}

h2 {
  color: salmon;
  font-family: Helvetica;
  font-size: 1,5%;
  padding-bottom: 20px;
}

.listas {
  display: flex;
  gap: 5%;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: center;
  width: 100%;
}

.lista {
  background-color: rgb(121, 33, 18);
  color: white;
  list-style-position: inside;
  padding: 30px;
  width: 18%;
}

.listas li {
  line-height: 30px;
}

.aprendizados {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
  justify-content: space-evenly;
  width: 80%;
}

.lado-esquerdo {
  background-color: rgb(121, 33, 18);
  color: white;
  padding: 30px;
  width: 45%;
}

.lado-esquerdo p {
  line-height: 30px;
}

.lado-direito {
  padding: 30px;
  width: 375px;
}

.lado-direito p {
  color: black;
  font-style: italic;
  line-height: 30px;
}

.sombra {
  border-radius: 10px;
  filter: drop-shadow(0 0 20px rgb(141, 141, 141));
}

.licoes-em-tabela {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
}
  
.tabela td, .tabela th {
  border: 1px solid black;
  padding: 8px;
}

@media screen and (max-width: 700px) {
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nome {
    margin-top: 0;
  }

  .lista {
    width: 25%;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  
  footer a {
    color: salmon;
    text-decoration: none;
  }

  footer p {
    padding: 20px;
    width: 350px;
  }
}

