body {
    background-color: rgb(245, 227, 227);
    text-align: center;
}

#cabecalho {
    position: fixed;
    top: 0px;
    background-color: salmon;
    width: 100%;
}

#minha_foto{
    margin-top: 80px;
}

#tabela {
    margin-left: 42%;
  }
  
  #tabela td, #tabela th {
    border: 1px solid black;
    padding: 8px;
  }

  h2{
      color: salmon;
      font-family: Helvetica;
      font-size: 30px;
  }

  p{
    font-size: 16px;
    line-height: 20px;
    text-indent: 1.5cm;
  }

  .lado-esquerdo {
    width:40%;
    background-color: rgb(121, 33, 18);
    border-radius: 10px;
    color: white;
  }
  
  .lado-direito {
    width: 40%;
    background-color: rgb(121, 33, 18);
    border-radius: 10px;
    color: white;
  }

  #divMae {
    margin-top: 20px;
    display: flex;
    justify-content:center;
  }

  #divMae2 {
    display: flex;
    justify-content:space-evenly;
  }

  #section1 {
    width: 20%;
    background-color: rgb(121, 33, 18);
    border-radius: 10px;
    color: white;
    margin-right: 100px;
  }

  #section2 {
    width: 20%;
    background-color: rgb(121, 33, 18);
    border-radius: 10px;
    color: white;
  }

  #rodape {
    background-color: rgb(48, 48, 48);
    color: white;
    height: 30px;
  }